/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin-left: 45px;
  margin-right: 45px;
}

/* Logo */
.logo {
  color: rgb(255, 10, 0);
  font-family: "Brush Script MT", cursive;
  font-weight: bold;
  font-size: 60px;
 
}

/* Navigation Links */
.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: color 0.3s ease;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-links a:hover {
    background-color: rgb(255, 10, 0);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background-color 0.15s, color 0.15s, box-shadow 0.15s;
}

.nav-links a.active {
  color: white; 
  background-color: rgb(255, 10, 0);
  border: none;
  font-weight: bold;
  border-radius: 20px;
}


h1 {
    color: rgb(255, 10, 0);
    font-family: "Brush Script MT", cursive;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

.black-bar {
  background-color: black; /* Sets the background color to black */
  width: 100%; /* Ensures the bar spans the full width of the page */
  height: 50px; /* Sets the height of the bar (adjust as needed) */
  /* Optional: Remove default body margin/padding to ensure full width */
  margin: 0;
  padding: 0;
}

.opening-paragraph {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.support-paragraph {
  width: 400px;
  text-align: center;
  margin: 0 auto; /* centers the block */
}

.image-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

p {
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
}



